.input-primary {
    width: 80%;
    font-size: 1.6rem;
    margin-top: 5rem;
    border: none;
    border-bottom: 1px solid $color-primary-dark;
    &:focus {
        border: none;
        outline: 0;
        border-bottom: 1px solid $color-primary-dark;
    }
}

.input-secondary {
    width: 38%;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid $color-primary-dark;
    &:focus {
        outline: 0;
        border: none;
        border-bottom: 1px solid $color-primary-dark;
    }
}